src/main/mule/demo-azure.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0896439c-440a-49c6-97a1-ff9166f3f413" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-azureFlow" doc:id="18d6b93b-99ae-4dee-b9e9-ef9266361149" >
		<http:listener doc:name="/azure Listener" doc:id="433cb73c-c591-40f3-bfa1-ef600db71f37" config-ref="HTTP_Listener_config" path="/azure"/>
		<ee:transform doc:name="Transform Message" doc:id="a8f34888-79c9-4361-946b-1c32e31f6165" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message" : "Testing Azure Pipeline - 28 Jun"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="payload" doc:id="46caae2b-8d41-4ef6-9310-4fbc17b60e5d" message="#[payload]"/>
	</flow>
</mule>
